/* Estilo general para la sección de contacto */
#contact-section {
  text-align: center; /* Centrar texto en la sección */
  margin: 20px auto; /* Margen vertical y centrado horizontal */
  max-width: 800px; /* Ancho máximo para la sección */
  padding: 20px; /* Espaciado interno para la sección */
  background-color: rgba(252, 252, 252, 0.089); /* Color de fondo más claro */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

/* Estilo para el encabezado */
#contact-section h2 {
  margin-bottom: 20px; /* Espacio debajo del encabezado */
}

/* Estilo para los botones de contacto */
.contact-buttons {
  
  display: flex; /* Usar flexbox para alinear los botones */
  justify-content: center; /* Centrar los botones horizontalmente */
  flex-wrap: wrap; /* Permitir que los botones se ajusten a la siguiente línea si es necesario */
}

/* Estilo para cada botón de contacto */
.contact-button {
  background-color: #185a9c; /* Color de fondo del botón */
  color: white; /* Color del ícono */
  margin: 15px; /* Margen alrededor de los botones */
  padding: 15px; /* Espaciado interno */
  border-radius: 50%; /* Hacer el botón circular */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves para transformación y sombra */
  display: flex; /* Para centrar el ícono dentro del botón */
  align-items: center; /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
  width: 75px; /* Ancho fijo para mantenerlo circular */
  height: 75px; /* Alto fijo para mantenerlo circular */
}

/* Efecto hover para el botón */
.contact-button:hover {
  transform: scale(1.1); /* Aumentar ligeramente el tamaño del botón al pasar el ratón */
  box-shadow: 0 0 40px rgba(14, 110, 219, 0.74); /* Sombra circular */
}

/* Responsividad */
@media (max-width: 768px) {
  .contact-button {
    width: 60px; /* Disminuir el tamaño en pantallas pequeñas */
    height: 60px; /* Disminuir el tamaño en pantallas pequeñas */    
  }
  section {
    margin: 10px 15px; /* Margen pequeño en los lados y en la parte superior */
  }
}

@media (max-width: 480px) {
  .contact-button {
    width: 50px; /* Disminuir aún más en pantallas muy pequeñas */
    height: 50px; /* Disminuir aún más en pantallas muy pequeñas */
  }
  section {
    margin: 10px 15px; /* Margen pequeño en los lados y en la parte superior */
  }
}
