.dropdown {
    position: relative; 
     
}

.dropdown-toggle {
    background-color: #185a9c; 
    color: #FFFFFF; 
    border: none; 
    border-radius: 5px; 
    padding: 12px 24px; 
    cursor: pointer; 
    transition: background-color 0.3s, box-shadow 0.3s; 
    font-size: 1.5rem; 
    min-width: 90px; 
    outline: none; 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5); 
}

.dropdown-toggle:hover {
    background-color: #E0E0E0; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7); 
}

.dropdown-menu {
    position: absolute;
    right: -29%;
    background-color: #3A3A3A;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
    padding: 10px 0;
    z-index: 1000;
    width: auto;
    border: 1px solid black;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
}

.dropdown-menu.show {
    visibility: visible; 
    opacity: 1; 
}

.dropdown-menu li {
    list-style: none; 
}

.dropdown-menu a {
    color: #B3B3B3; 
    padding: 10px 20px; 
    text-decoration: none; 
    display: block; 
    font-size: 1.5rem; 
}

.dropdown-menu a:hover {
    background-color: #FFFFFF; 
}

@media (max-width: 768px) {
    .dropdown-toggle {
        font-size: 1.5rem;
        padding: 10px 20px;
    }

    .dropdown-menu {
        width: 130%;
        right:-16%;
    }

    .dropdown-menu a {
        font-size: 1.4rem;
        padding: 12px 16px; 
        min-width: 150px; 
        display: flex;
        align-items: center; 
    }
}

@media (max-width: 480px) {
    .dropdown-toggle {
        font-size: 1.6rem;
        padding: 8px 16px;
    }

    .dropdown-menu {
        width: 130%;
        right:-16%;
    }

    .dropdown-menu a {
        font-size: 1.2rem;
        padding: 10px 14px;
        min-width: 130px; 
    }
}