.header-container {
  display: flex;
  align-items: center; 
  justify-content: center; 
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.089); 
  border-radius: 8px; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
  flex-wrap: wrap; 
  flex-direction: column;
  max-width: 800px;
}

.profile-pic {
  width: 100%; 
  max-width: 200px; 
  height: auto; 
  border-radius: 50%; 
  margin-bottom: 20px; 
}

.header-title {
  flex-grow: 1; 
  text-align: center; 
  max-width: 600px; 
}

.header-title h1 {
  font-size: 2.5rem; 
  padding-bottom: 20px; 
  color: #FFFFFF; 
  text-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
  margin: 0; 
}


@media (max-width: 768px) {
  .profile-pic {
    max-width: 150px; 
  }
  
  .header-title h1 {
    font-size: 2rem; 
  }

  .header-container {
    flex-direction: column; 
    align-items: center; 
    padding: 10px; 
    margin: 10px; 
  }
  section {
    margin: 10px 15px; 
  }
}
