.presentation-section {
  background-color: rgba(255, 255, 255, 0.089); 
  border-radius: 8px; 
  padding: 20px; 
  margin: 20px auto; 
  max-width: 800px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  text-align: center;
}

.presentation-section h2{
  text-decoration: underline;
  font-size: 1.8rem;
  padding-top: 40px;
}

.presentation-text {
  background-color: rgba(255, 255, 255, 0.089); 
  border-radius: 8px; 
  font-size: 1.5rem; 
  padding: 40px;
  color: #FFFFFF; 
  line-height: 1.6; 
  text-align: justify;
  margin: 2rem;
}

@media (max-width: 768px) {
  .presentation-text {
    font-size: 1.2rem;
    padding: 10px;
    
  }
}

@media (max-width: 480px) {
  .presentation-section {
    padding: 0px; 
  }
  .presentation-section h2{
    font-size: 1.25rem;
  }
  .presentation-text {
    font-size: 1rem;
    padding: 15px; 
    margin: 20px;
  }
  
}
